thead tr {
  text-align: center;
  background-color: aqua;
}
tr {
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: #b3babd;
}

tbody tr:nth-child(even) {
  background-color: #7cbad4;
}
.transaction-history{
  width: 680px;
  border: 2px solid
}