thead tr {
  text-align: center;
  background-color: aqua;
}
tr {
  text-align: right;
}
tbody tr:nth-child(odd) {
  background-color: #b3babd;
}

tbody tr:nth-child(even) {
  background-color: #7cbad4;
}
.transaction-history{
  width: 800px;
  border: 2px solid
}